{% extends 'base.html' %}
{% block header %}
{% endblock %}

{% block content %}

    {% include 'includes/mensagem.html' %}
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'app_login:inicial' %}">EufraimBIT</a>
        </li>
        <li class="breadcrumb-item active">Página de Ocorrências</li>
    </ol>

    <b-card-group deck>
        <b-card>
            <b-button variant="danger" @click.prevent="buscarOcorrencias()">Buscar Novas Ocorrencias</b-button> <span v-show="loading">Estamos buscando em todos os extratores possíveis, novas ocorrências para lista.</span>
            <b-button variant="secondary" class="float-right">Filtros Avançados</b-button>
            <b-table striped hover :items="ocorrencias.results" :fields="ocorrencias_fields" :foot-clone="true" class="espaço-superior" :dark="true">
{#                    <div slot="table-busy" class="text-center text-danger my-2">#}
{#                        <b-spinner class="align-middle"></b-spinner>#}
{#                        <strong>Carregando...</strong>#}
{#                    </div>#}

                <template slot="analisar" slot-scope="data">
                    <span>
                        <b-button variant="primary" size="sm" @click="acessarOcorrencia(data.item.id)">ANALISAR</b-button>
                    </span>
                </template>
            </b-table>

            <b-card-footer class="float-left" v-show="ocorrencias.previous" variant="primary" @click="getOcorrencias(ocorrencias.previous, 1)">
                <i class="fas fa-arrow-left"></i>
            </b-card-footer>

            <b-card-footer class="float-left" v-show="ocorrencias.next" variant="primary" @click="getOcorrencias(ocorrencias.next, 1)">
                <i class="fas fa-arrow-right"></i>
            </b-card-footer>

        </b-card>
    </b-card-group>

{% endblock %}

{% block footer %}
<script type="text/javascript">
    Vue.http.headers.common['X-CSRFToken'] = "{{ csrf_token }}";
    new Vue({
        el: '#wrapper',
        delimiters: ['${', '}'],
        data: {
            loading: false,
            isActive: true,
            ocorrencias: {},
            ocorrencias_fields: [
                    {key: 'id', label: 'ID'},
                    {key: 'executor', label: 'Municipio'},
                    {key: 'contrato_projeto', label: 'Projeto'},
                    {key: 'contrato_lote', label: 'Lote'},
                    {key: 'contrato_numero', label: 'Número Contrato'},
                    {key: 'fornecedor', label: 'CNPJ'},
                    {key: 'componente', label: 'Componente'},
                    {key: 'analisar', label: 'Analisar'},
                ],
        },
        mounted: function () {
            this.getOcorrencias();
        },
        methods: {
            getOcorrencias: function (url, tipo) {
                let api_url = '';
                    if (url && tipo === 1) {
                        api_url = `${url}`;
                    } else {
                        api_url = '{% url 'app_login:api_ocorrencias-list' %}?';
                    }
                    if (tipo === 2) {
                        api_url += `&search=${this.search.tabela}`;
                    }
                this.$http.get(api_url)
                    .then((response) => {
                        this.ocorrencias = response.data;
                    })
                    .catch((err) => {
                        console.log(err);
                    })
                },
            acessarOcorrencia: function (id) {
                window.location.href = `{% url 'app_login:ocorrencias' %}?id=${id}`;
            },
            buscarOcorrencias: function () {
                this.loading = true;
                let api_url = `{% url 'app_login:ativador' %}`;
                this.$http.get(api_url)
                    .then((response) => {
                        console.log(response.data);
                        this.loading = false;
                        this.getOcorrencias();
                    })
                    .catch((err) => {
                        console.log(err);
                    })
            },
            alternarPagina: function () {
                console.log('teste');
                this.isActive = !this.isActive;
            },
            classObject: function () {
                let variant;
                // Tipos de Mensagem
                if (this.isActive) {
                    variant = 'navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled'
                } else {
                    variant = 'navbar-nav bg-gradient-primary sidebar sidebar-dark accordion'
                }
                return variant;
            },
        },
        computed: {

        }
      });
    </script>
{% endblock %}
